<!DOCTYPE html>
<html>
<head>
  <title>ImobRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= link_to root_path do %>
    <h2>IMOB RAILS</h2>
  <% end %>

  <span>
    <%= link_to 'Fazer login', sign_in_path %>
    <%= link_to 'Cadastre-se', sign_up_path %>
  </span>
</header>

<main>
  <%= yield %>
</main>

</body>
</html>
